.navbar-section {
    height: 120px;
    background-color: black;
    display: flex;
}

.left-nav-side {
    width: 30%;

}

.title {
    color: #fff;
    margin-top: 10px;
    text-align: start;
    margin-left: 80px;
    font-size: 30px;
}

.middle-nav-side {
    width: 40%;

}

.search {
    border: 1px solid white;
    border-radius: 5px;
    height: 35px;
    margin-top: 20px;
    width: 400px;
    outline-style: none;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
}

.right-nav-side {
    width: 30%;

}

.user-icon,
.cart-icon,
.heart-icon {
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.nav-icon-section {
    margin-left: 200px;
    padding-top: 15px;
}